* {
    --color-main-light: #eee;
    --color-main-middle: #999;
    --color-main-dark: #222;
    --color-main-black: #000;
    --color-blue: #08f;
    --color-main-text: var(--color-main-light);
    --color-main-background: var(--color-main-dark);
    --color-button: var(--color-main-dark);
}

* {
    color: var(--color-main-text);
    font-family: monospace;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background: var(--color-main-background);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    border-radius: 1px;
    background: none;
    padding: 0.5rem 1rem;
    color: var(--color-main-light);
    border: solid 1px var(--color-main-middle);
}

button:hover {
    color: var(--color-blue);
    cursor: pointer;
}

button:disabled, button:active {
    color: var(--color-blue);
}

button:hover:disabled {
    background: var(--color-main-dark);
    cursor: default;
}

pre {
    flex-grow: 0;
}

textarea {
    background: var(--color-main-background);
    border: none;
    flex-grow: 1;
}

img {
    height: 2rem;
    width: 2rem;
    padding: 0 1rem;
}

a:hover {
    color: var(--color-blue);
    border-bottom: 1px solid var(--color-blue);
}

a:hover > h1 {
    color: var(--color-blue);
}

.top > a:hover {
    border-bottom: none;
}

.top > a {
    width: 20rem;
    text-align: center;
}

h2 {
    font-size: 1.25rem;
}

input, select {
    height: 100%;
    background: var(--color-main-dark);
    border: none;
    border-bottom: solid 1px var(--color-main-middle);
    width: 10em;
    padding: 0.5em;
}

.content {
    display: flex;
    width: 100vw;
    flex-grow: 1;
    overflow: hidden;
}

.left {
    flex-grow: 2;
    width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    margin-top: 1rem;
}

.canvas {
    background: var(--color-main-dark);
    max-height: 100%;
    max-width: 100%;
}

.top {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin-bottom: 0;
}

.grow {
    flex-grow: 1;
}

.outer-input {
    padding: 0.5rem 0;
}

.outer-input > label {
    width: 50rem;
}

.space-croquet {
    display: flex;
    margin-bottom: 1rem;
}

.instructions {
    width: 0;
    flex-grow: 1;
    padding-left: 0.5rem;
}

.panel-top {
    padding-bottom: 1rem;
}

.options {
    overflow-y: scroll;
    padding-right: 1rem;
}

.outer-panel {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 0;
    padding-left: 1rem;
}

.center-panel {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

.select-test {
    width: auto;
}

.tests {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.5rem 0;
}

.tests > a {
    border-bottom: 1px solid var(--color-main-middle);
}
