* {
  border: 0;
  margin: 0;
  font-family: monospace;
}

#main {
  display: flex;
}

#logs {
  width: 32em;
  background-color: #000;
  color: #aaa;
}
p {
  color: #aaa;
}
label {
  color: #aaa;
}

body {
  display: flex;
  overflow: hidden;
  background: #000;
  height: 100vh;
}

#canvases {
  display: flex;
}

#canvas_1 {
  background: #0af;
  background: #20548c;
  background: #000;
  border: none;
  height: 100vh;
  width: 100vh;
}
#canvas_2, #canvas_3, #canvas_4 {
  background: #0af;
  background: #ff548c;
  background: #000;
  border: none;
}

#sliders {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
}
.slider_container {
  display: flex;
}
#panel {
  display: flex;
  flex-direction: column;
}
#logs {
  flex-grow: 1;
}
#panel_2 {
  display: flex;
  flex-direction: column;
}


/* Élément | file:///Users/lbourgois/github/vworld/vworld-client/index.html */

#panel {
  flex-grow: 1;
}

/* Élément | file:///Users/lbourgois/github/vworld/vworld-client/index.html */

#logs {
  width: 100%;
}
