* {
  /* background: #0000; */
  font-family: monospace;
  color: #ee0;
  spacing: 0;
  margin: 0;
}
body {
  width: 100vw;
  height: 100vh;
  background: #000;
}
canvas {
  image-rendering: pixelated;
}
#canvas {
  position: fixed;
}
#panel {
  position: fixed;
  z-index: 1;
}
#minimap {
  width: 16em;
  height: 16em;
  background: blueviolet;
}
