:root {
  --primary-color: #ff9;
  --background: #102;
}
* {
  font-family: monospace;
  color: #0000;
  margin: 0;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: var(--background);
}
canvas {
  image-rendering: pixelated;
}
#left, #right, #top, #bottom {
  flex-grow: 1;
}
#content {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}
#center {
  height: 100vh;
  width: min(100vh, 100vw);
  display: flex;
  flex-direction: column;
}
#canvas {
  height: min(100vh, 100vw);
  width: min(100vh, 100vw);
}
#victory {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
}
#victory.yes {
  background-color: #fff1;
}
#victory p {
  color: #ff90;
}
#victory.yes p {
  font-size: 3rem;
  color: #ff9d;
  text-align: center;
}
#victory.yes .ex {
  width: 0;
  flex-grow: 1;
}
#aa {
  margin-top: 15vh;
  margin-bottom: auto;
}
#vic_text {
  display: flex;
  justify-content: center;
}
#vic_text button {
  width: 15rem;
}
.hide {
  display: none !important;
}
button{
  border: none;
  cursor: pointer;
  font-size: 2rem;
  background: none;
}
.key_interact {
  font-size: 1.25rem;
}
#victory.yes #vic_text button {
  color: #ff9d;
}
#victory.yes .key_interact {
  color: #ff9d;
}
#victory.yes #vic_text button:hover {
  color: #ff9f;
}
#victory.yes #victory_duration_1 {
  font-size: 2rem;
}
#vic_text {
  margin-top: 4rem;
}
#notice_text {
  margin-top: 8rem;
}

#notice_text {
  display: flex;
  width: 100vw;
}
#notice_text span {
  color: #ff9f;
}
#notice_text > * {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 10rem;
}
.spacer {
  flex-grow: 1;
}
.direction {
  font-size: 2rem;
}

#overlay {
  display: flex;
  position: absolute;
  width: 100vw;
}
#overlay p {
  color: var(--primary-color);
  padding: 1rem;
}

#durations {
  display: flex;
  margin-top: 7rem;
  width: 100vw;
}
#victory_duration {
  flex-grow: 0;
}
#victory_duration_lower, #victory_duration_higher {
  flex-grow: 1;
  width: 0;
}
#victory.yes #victory_duration_lower, #victory.yes #victory_duration_higher {
  font-size: 1.5rem;
  align-content: center;
  text-wrap: nowrap;
}
#victory.yes #victory_duration_lower {
  text-align:right;
  padding-right: 1rem;
}
#victory.yes #victory_duration_higher {
  text-align:left;
  padding-left: 1rem;
}