* {
  font-family: monospace;
  color: #ddd;
  margin: 0;
  text-decoration: none;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: #000;
  flex-direction: column;
}
a {
  flex-grow: 1;
  width: 0;
  text-align: center;
  padding: 1rem;
  height: auto;
}
a:hover {
  background: #fff2;
}
.spacer {
  flex-grow: 2;
}
#top {
  display: flex;
}