* {
  padding: 0;
  margin: 0;
}
body {
  background: #050505;
  display: flex;
}
p, button,label, input {
  color: #dd8d;
  font-family: monospace;
  margin-bottom: 0.3rem;
  font-size: 1rem;
  white-space: break-spaces;
  background: none;
  border: none;
  /* word-break: break-all; */
}
#right {
  margin-top: 5vh;
  margin-right: 5vh;
}
#left {
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-direction: column;
}
canvas {
  height: 90vh;
  width: 90vh;
  margin: 5vh;
}
button {
  background: none;
  border: solid 1px #eead;
  color: #eead;
  cursor:pointer;
  margin-bottom: 0.3rem;
  margin-right: 1rem;
  padding: 0.5rem;
}
button:hover {
  color: #eeaf;
}
input {
  width: 6rem;
}
