* {
  padding: 0;
  margin: 0;
}

body {
  background: #050505;
  display: flex;
}
p {
  color: #dd8d;
  font-family: monospace;
  padding-top: 0.4rem;
  padding-left: 0.8rem;
  width: 0;
}
canvas {
  height: 90vh;
  width: 90vh;
  margin: auto;
  margin-top: 5vh;
  cursor: none;
}
