* {
  background: #0000;
  font-family: monospace;
  color: #ee0;
  spacing: 0;
  margin: 0;
}
body {
  width: 100vw;
  height: 100vh;
  background: #000;
}
canvas {
  /*background: #f0f;*/
  image-rendering: pixelated;
}
#canvas {
  background: #330;
  position: fixed;
}
#panel {
  position: fixed;
  z-index: 1;
}
#minimap {
  width: 32em;
  height: 32em;
  background: blueviolet;
}
